[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  external_node_modules = ["pg"]
  included_files = ["node_modules/pg/**", "node_modules/pg-protocol/**", "node_modules/pg-pool/**", "node_modules/pg-types/**", "node_modules/pgpass/**", "node_modules/pg-connection-string/**"]
